<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- Navigation Bar -->
        <div class="navbar">
            <div class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                </ul>
            </div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/chatrooms">Chat Rooms</a></li>
                <li><a href="/login">Sign In</a></li>
            </ul>
        </div>

    <div class="about">
        <h1>About Us</h1>
        <h2>Our mission is to aid individuals with COVID-19 by helping them get their questions answered. Need someone
            to talk to who is going through the same situation? Connect to others affected through our chat rooms. Have
            a specific question? Here are some examples of how our chatbots can help you:</h2><br>
        <div class="row">
            <div class="column">
                <div class="title">
                    <img src="images/about-page/groceries.png">
                    <h3>Groceries</h3>
                </div>
                <div class="description">
                    <p>Our chatbots can help you choose what to have for your next meal and which ingredients you will
                        need. It can help you purchase these foods without you having to step out of the house.</p>
                </div>
            </div>
            <div class="column">
                <div class="title">
                    <img src="images/about-page/medicine.png">
                    <h3>Medicine</h3>
                </div>
                <div class="description">
                    <p>Ran out of medicine? Not sure what to get to relieve your symptoms? Our chatbots can help you find pharmacies near you that carry the products you need, and place orders for those drugs for you.</p>
                </div>
            </div>
            <div class="column">
                <div class="title">
                    <img src="images/about-page/delivery.png">
                    <h3>Delivery</h3>
                </div>
                <div class="description">
                    <p>Our chatbots place orders for you, directly to your house, so that you can stay safe at home. Abiding by social distancing guidelines is important and our delivery services help ensure that you stay at home.</p>
                </div>
            </div>
            <div class="column">
                <div class="title">
                    <img src="images/about-page/prices.png">
                    <h3>Prices</h3>
                </div>
                <div class="description">
                    <p>We rank prices so that you get the most value for the products you purchase from home to combat COVID-19 through our chatbots.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>