<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <div class="logo">
            <ul>
                <li><a href="index.html">Home</li></a>
            </ul>
        </div>
        <ul>
            <li><a href="about.html">About</li></a>
            <li><a href="chatrooms.html">Chat Rooms</li></a>
            <li><a href="#">Sign In</li></a>
        </ul>
    </div>

    <h1>This is the chat room page</h1>
    <h3>Hi, {%if current_user.is_authenticated%}{{current_user.username}}
    {%else%}Guest{%endif%}!</h3>
    <form action="/chat">
        <div>
            <label>Username:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Chatroom:</label>
            <input type="text" name="room">
        </div>
        <button type="submit">Submit</button>
    </form>

    </div>

</body>

</html>