<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat Rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- Navigation Bar -->
        <div class="navbar">
            <div class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                </ul>
            </div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/chatrooms">Chat Rooms</a></li>
                <li><a href="/login">Sign In</a></li>
            </ul>
        </div>

    <h1>Hi, {%if current_user.is_authenticated%}{{current_user.username}}!
    {%else%}Guest! In order to use the chatroom you need to Log In{%endif%}</h1>

    <button type="button" id="new_room">Create room(nf)</button>
<ul>
    {%for room in rooms%}
        <li><a href="/rooms/{{room._id.room_id}}">{{room.name}}</a></li>
    {%endfor%}
</ul>

</body>

</html>