<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- Navigation Bar -->
        <div class="navbar">
            <div class="logo">
                <ul>
                    <li><a href="index">Home</a></li>
                </ul>
            </div>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="chatrooms">Chat Rooms</a></li>
                <li><a href="login">Sign In</a></li>
            </ul>
        </div>

    <h1>Create Room</h1>
    <h3>{{message}}</h3>
    <form method="post">
        <label>Room name:</label>
        <input type="text" name="room_name">
        <br>
        <label>Members:</label>
        <input type="text" name="members">
        <br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>