<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <!-- Navigation Bar -->
        <div class="navbar">
            <div class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                </ul>
            </div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/chatrooms">Chat Rooms</a></li>
                <li><a href="/login">Sign In</a></li>
            </ul>
        </div>

    <!-- Search Bar -->
    <div id="search-bar">
        <h1>If you have COVID, you're not alone. We're here to provide you support.</h1>
        <form id = "search-bar-form">
            <input type="text" id="ask-questions" name="fname" placeholder="Ask any questions here"><br>
            <a class="search-button" href="#"><img src="images/magnifying-glass.png" id="magnifying-class">
            </a>
        </form>
    </div>

</body>

</html>